<div class="center  portada col-12 vh-100 vw-100 align-content-center justify-content-center">
  <div class="row">
    <div class="col-12">
      <h1 class="center__text glitch is-glitching marker-letter" data-text="{{title}}">{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 portada">
      <h2 data-toggle="tooltip" data-placement="right" title="eslogan cedido amablemente por Víctor"
        class=" glitch is-glitching marker-letter">Your time in music!</h2>
    </div>
  </div>


  <div class="row">
    <div class="offset-3 col-6 d-flex justify-content-around">
      <a href="/login">|Login|</a>
      <a href="/signup">|Sign up|</a>
    </div>
  </div>
</div>
