<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
    <style>

       #map {
        height: 400px;
        width: 100%;

        margin-top: 5%;
        margin-left: 6%;
       }

       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      .clickPlay {
          margin-left: 6%;
          font-size: 35px;
      }


    </style>
</head>

<body>

    {{!-- <div>    
        <input id="origin-input" class="controls" type="text" placeholder="Elija origen">
    </div>
        

    <div id="destinationField">    
        <input id="destination-input" class="controls" type="text" placeholder="Elija destino">
    </div>

    <div id="mode-selector" class="controls">
          <input type="radio" name="type" id="changemode-walking" checked="checked">
          <label for="changemode-walking">Caminando</label>

          <input type="radio" name="type" id="changemode-transit">
          <label for="changemode-transit">En transporte público</label>

          <input type="radio" name="type" id="changemode-driving">
          <label for="changemode-driving">Conduciendo</label>
    </div> --}}

</head>

<body>


  <div id="destinationField">
    <input id="destination-input" class="controls" type="text" placeholder="Elija destino">
  </div>

  <div id="mode-selector" class="controls">
    <input type="radio" name="type" id="changemode-walking" checked="checked">
    <label for="changemode-walking">Caminando</label>

    <input type="radio" name="type" id="changemode-transit">
    <label for="changemode-transit">En transporte público</label>

    <input type="radio" name="type" id="changemode-driving">
    <label for="changemode-driving">Conduciendo</label>
  </div>

  </head>

  <body>

    <div>
      <input id="origin-input" class="controls" type="text" placeholder="Elija origen">
    </div>


    <div id="destinationField">
      <input id="destination-input" class="controls" type="text" placeholder="Elija destino">
    </div>

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Caminando</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">En transporte público</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Conduciendo</label>
    </div>




    {{!-- UBICACION MAPA --}}
    <figure id="map"></figure>

    
    <a class="clickPlay" href="display/playlist">Introduce tu ruta y haz click para obtener tu playlist!</a>
    <br>

    {{!-- PRUEBA OBTENCIÓN TIEMPO --}}
    <label for="inputDuration">Duración del trayecto: </label>
    <input id="inputDuration" type="text" value="">
    

    {{!-- UBICACION SCRIPTS RELACIONADOS CON MAPS --}}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/directions.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/mapStyles.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf8Nlxiwn7uJlN9-H0TWIqQMxIm527UHc&libraries=places&callback=initMap"
      async defer></script>

  </body>

</html>