<div class="profile">
    <h1>¡Bienvenid@ a tu perfil, {{user.username}}!</h1>
    <hr>
    <a class="linkProfile" href="/profile/edit/{{user.id}}">Editar perfil</a>
    <br>
    <a class="linkProfile" href="/profile/display">Let's go!</a>
    <div class="plList">
        <h1>Playlists</h1>
    </div>
    <hr>
</div>