<div style=' color:black' class="body-letter playlist-view row">
    <div class="col-12">
        <form action="/playlist/new" method="post" id="playlistForm">
            <div class="form-group">

                <div class="container">
                    <div class="row vh-100 vw-100 d-flex align-items-center">

                        <div style=" display:  " class="col-12">
                            <label class="title-letter" for="playlist">Playlist title</label>
                            <br>
                            <div class="cursor">
                                <input value="prueba lista" class="form-control-lg text-center rq-form-element"
                                    name="playlist" type="text" value="" autofocus> <i></i>
                            </div>
                            <br>
                            <a class="btn btn-lg btn-green title-letter">GO!</a>
                        </div>

                        <div style=" display: " class="col-12 ">
                            <div class="row">
                                <div class="col-12">
                                    <a name="list" value="artist" class="title-letter btn-green btn btn-lg">Search
                                        by
                                        Artist</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button name="list" value="random"
                                        class="btn btn-lg btn-green title-letter">Randomize!!!</button></div>
                            </div>
                        </div>

                        <div style=" display: " class="col-12">
                            <label class="title-letter" for="artist">Artist name</label>
                            <br>
                            <div class="cursor">
                                <input class="form-control-lg text-center rq-form-element" name="artist" type="text"
                                    value="muse" autofocus>
                                <i></i>
                            </div>
                            <br>
                            <a class="btn btn-lg btn-green title-letter">GO!</a>
                        </div>

                        <div style=" display: " class="col-12">
                            <label class="title-letter" for="duration">Duration</label>
                            <br>
                            <div class="cursor">
                                <input class="form-control-lg text-center rq-form-element" id="durationMap" type="text"
                                    value="60" autofocus>
                                <i></i>
                                {{!-- none --}}
                                <input style="display" id="inputDur" value="" name="duration" type="text"> 
                            </div>
                            <br>
                            <a class="btn btn-lg btn-green title-letter">GO!</a>
                        </div>

                        <div style=" display: " class="col-12">
                            <button type="submit" id="btn-send"
                                class="btn btn-lg btn-green title-letter">GENERATE</button>
                        </div>

                    </div>

                </div>

            </div>
        </form>
    </div>
</div>


<script src="../../javascripts/main.js"></script>

{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../javascripts/playlist.js"></script> --}}